/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  
  position: relative;
  font-family: var(--main-font-family, monospace);
  background-color: var(--bg-color);
  background-image: var(--bg-color-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 40px;

}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;

}

.decorated-zone{
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--title-color-decore, #ff0070);
  border-left: 1px solid var(--title-color-decore, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right:  0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--title-color-decore, #ff0070);
  border-right: 1px solid var(--title-color-decore, #ff0070);
}

.header__rec-lable {
  position: absolute;
  top: 10px;
  right: 30px;
  align-items: center;
  font-family: var(--main-font-family, monospace);
  line-height: 25px;
  color: var( --color-rec-decore, #ff0070);
  text-transform: uppercase;
  font-weight: var(--weight-text);
  font-family: var(--main-font-family, monospace);
}

.header__rec-lable::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  left: 42px;
  border-radius: 50%;
  background-color: var( --color-rec-decore);
  box-shadow: 0 0 4px 3px var( --color-rec-decore);
}


.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 13px;
  
}

.header__theme-menu-button {
  display: inline-flex;
  text-transform: lowercase;
  justify-content: center;
  align-items: center;
  padding: 0px 13px;
  border-color: transparent;
  background-color: transparent;
  color: var(--color-button-text);
  font-family: var(--main-font-family, monospace);
  font-size: 18px;
  font-weight: var(--weight-text);
  text-transform: lowercase;
 
}
 
.header__theme-menu-button:active {
  border: 1px solid var(--color-button-text);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-button-text);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-button-text);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-button-text);
  pointer-events: none;
}

.header__title-block {
 justify-self: flex-end;
  align-self: center;
}

.header__title {
   font-size: var(--headline-text-size);
   color: var(--main-title-text-color);
   font-weight: var(--weight-title-text);
   text-shadow: 4px 4px 0 var(--accent-color);
   line-height: 83%;
}

.header__box-text {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  line-height: 23.4px;
  min-width: 355px;
  width: 100%;
  height: 117px;
  justify-self: flex-end;
  align-self: center;
}

.header__text-decorated {
  color: var(--title-text-color);
  font-size: 18px;
  font-family: var(--main-font-family, monospace);
  font-weight: var(--weight-title-text);
 
}

.main {
  display: grid;
  padding-top: 40px;
  gap: 50px;
}

.section{
  display: grid;
  gap: 20px;
}

.section__link-text {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link-text:hover {
  border-bottom: 1px solid var(--color-link);
}

.section__link-text:focus-visible {
  outline: 1px solid var(--color-link);
}

.title_decorated {
  font-family: var(--main-font-family, monospace);
  font-size: var(--main-text-size, 18px);
  color: var(--title-color-decore, #ff0070);
  font-weight: var(--weight-title-text);
  line-height: 23.4px;
}

.section__content-block {
  display: grid;
  gap: 20px;
}



.section__block-all-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__box-text {
  background-color: var(--bg-color-title-text);
}

.section__block-title-decorated {
  font-family: var(--main-font-family, monospace);
  font-size: var(--main-text-size, 18px);
  color: var(--title-text-color);
  font-weight: var(--weight-title-text);
  line-height: 23.4px;
}

.section__text-decorated {
  font-family: var(--main-font-family, monospace);
  font-size: var(--main-text-size, 18px);
  font-weight: var(--weight-text);
  color: var(--section-color-text);
  line-height: 23.4px;
  
}

.section__block-council {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__council {
  display: grid;
  gap:  10px;

}

.section__title-council {
 font-family: var(--main-font-family, monospace);
  font-size: var(--main-text-size, 18px);
  font-weight: var(--weight-text);
  color: var(--title-text-color);
  line-height: 23.4px;
}

.title_image-decorated {
    font-family: var(--main-font-family, monospace);
  font-size: var(--main-text-size, 18px);
  color: var(--title-text-color);
  font-weight: var(--weight-title-text);
  line-height: 23.4px;
}

.section__image {
  display: grid;
  gap: 10px;
  
}

.section__article-image {
  display: grid;
  gap: 10px;
   justify-self: center;
  align-self: center;
}

.section__image-sunset {
  width: 355px;
  height: 142px;
}

.section__image-ice-cream {
  width: 355px;
  height: 355px;
}

.section__image-tape {
  width: 355px;
  height: 237px;
}

.section__image-books {
  width: 355px;
  height: 355px;
}

.section__image-street {
  width: 355px;
  height: 237px;
}

.footer__focus {
  height: 100vh;
  min-height: 668px;
  display: grid;
  margin-block-start: 40px;
}





.footer_title {
   font-size: var(--headline-text-size);
   color: var(--main-title-text-color);
   font-weight: var(--weight-title-text);
   text-shadow: 4px 4px 0 var(--accent-color);
   line-height: 83%;
   align-self: center;
   justify-self: center;
}

@media (width >= 768px) {
.page {
  padding: 0px 20px 0px 0px;
}

  .header{
    min-height: 1024px;
  }
  
.decorated-zone::before {
  bottom: 20px;
  left: 20px;
}

.decorated-zone::after  {
  top: 20px;
}

  .header__rec-lable {
    top: 20px
  }

.header__theme-menu {
  margin-block-start: 10px;
}

  .header__title-block {
    justify-self: self-start;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    
  }


  .header__box-text {
    width: 364px;
    margin-inline-start: auto;
    margin-block-end: 15px;
    
  }

  .main {
    padding-top: 60px;
    padding-left: 20px;
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .focus-difficutly {
    display: grid;
    gap: 20px;
  }

  .section__low-attention {
    grid-column: span 2;
  }

  .section__article-image {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .section__image-tip {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section__image-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .section__image-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section__image-tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section__image-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .section__image-street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer__focus {
    min-height: 1024px;
    padding-left: 20px;
    margin-block-start: 60px;
  }


  .footer_title {
    align-self: center;
    justify-self: center;
  }

}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }



  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
    margin-inline-start: 10px;
    margin-block-start: 20px;
    
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__box-text {
    width: 491px;
    height: 71px;
    margin-block-end: 20px;
  }

  
  .main {
    padding-top: 60px;
  }

  .section__low-attention {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: span 3;
  }

  .section__article-image {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px 433px;
  }

  .section__image-tip {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer__focus {
    min-height: 768px;
  }

  .footer_title {
    align-self: center;
    justify-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    
  }
}